.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  margin-left: 150px;
  margin-right: 150px;
}

.left {
  background-color: #f6dc74;
  padding: 20px;
  text-align: center;
  width:50%;
  height:50%;
  
}

.right {
  background-color: #6a0dad;
  padding: 20px;
  color: white;
  width:50%;
  height:50%;
  text-align: center;
}
form {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #f6dc74;
  border-radius: 3px;
}

button[type="submit"] {
  background-color: black;
  color: #7f19b9;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #aa8708;
  color: #08010b;
  right:left;
}

a {
  text-decoration: none;
  color: #f1ebeb;
}

a:hover {
  text-decoration: underline;
  color: #ee9e13;
}

/* Các style khác để tùy chỉnh màu sắc, font, kích thước... */